<section>
    <table class="center" style="border: 5px solid rgb(253, 208, 35);">
        <form action="" method="POST">
            <th colspan="2">
                <big>New User</big>
            </th>
            <br>
            <tr>
                <td align="right">Username:</td>
                <td align="left"><input type="text" name="username" pattern="[a-zA-Z0-9]{1,20}" title="Letters and Numbers Only" placeholder="username" required></td>
            </tr>
            {% if(badName) %}
                <tr>
                    <td align="center" colspan="2">Username taken.</td>
                </tr>
            {% endif %}
            <tr>
                <td align="right">Password:</td>
                <td align="left"><input type="password" name="password" placeholder="password" required>
            </tr>
            <tr>
                <td align="right">Phone Number:</td>
                <td align="left"><input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="123-456-7890" placeholder="123-456-7890" required>
            </tr>
            <tr>
                <td align="right">Email:</td>
                <td align="left"><input type="email" name="email" placeholder="newuser@fakemail.com" required>
            </tr>
            <tr>
                <td align="center" colspan="2">Profile Image:</td>
            </tr>
            <tr>
                <td align="right" colspan="2"><input type="file" name="image"></td>
            </tr>
            {% if(badImage) %}
                <tr>
                    <td align="center" colspan="2">Please upload a .jpg, .jpeg, or .png file.</td>
                </tr>
            {% endif %}
            <tr>
                <td align="center" colspan="2"><input class="btn" type="submit" value="Create Account"></td>
            </tr>
        </form>
    </table>
</section>