<section>
    <big>{{ username }}</big>
    <br>
    {% if(hasImage) %}
        <img src="{{ url_for('static', filename=image) }}" alt={{name}}>
        <br><br>
    {% endif %}
    <table class="center">
        <th colspan="2">
            Contact Info
        </th>
        <tr>
            <td align="left">Phone:</td>
            <td align="center">{{ phone }}</td>
        </tr>
        <tr>
            <td align="left">Email:</td>
            <td align="center">{{ email }}</td>
        </tr>
        {% if(hasZip) %}
        <tr>
            <td align="left">Zip Code:</td>
            <td align="center">{{ zip }}</td>
        </tr>
        {% endif %}
    </table>
    <form action="" method="POST">
        <input type="submit" name="logout" value="Log Out">
        <a href="{{ url_for('editAccount') }}">
            <input type="button" value="Edit Account">
        </a>
    </form>
</section><br>