<section>
    <form action="" method="POST">
        Event: {{name}} <br><br>
        {% if(isOrganizer) %}
            <input type="submit" name="remove" value="Delete Event">
            <a href="{{ url_for('editEvent', name=name) }}">
                <input type="button" value="Edit Event">
            </a><br><br>
        {% endif %}
        Date/Time: {{date}}, {{time}} <br>
        Location: {{location}} <br>
        Organizer: {{organizer}}<br>
        Tags: 
            {% for tag in tags[:-1] %}
                {{tag}}, 
            {% endfor %}
            {{tags[-1]}}<br>
        Summary:<br> {{summary}}<br><br>
        {% if(loggedIn and not isOrganizer) %}
            {% if(not inEvent) %}
                <input type="submit" name="join" value="Join Event">
            {% else %}
                <input type="submit" name="leave" value="Leave Event">
            {% endif %}
        {% endif %}
    </form>
{% if(not isOrganizer) %}
</section>
{% else %}
    RSVP List:<br>
{% endif %}