<section>
    <table class="center">
        <big>{{name}}</big>
        <br><br>
        <th colspan="2">
            Event Details:
        </th>
        <tr>
            <td align="left">Date:</td>
            <td align="left">{{date}}</td>
        </tr>
        <tr>
            <td align="left">Time:</td>
            <td align="left">{{time}} (US Central)</td>
        </tr>
        <tr>
            <td align="left">Location:</td>
            <td align="left">{{location}}</td>
        </tr>
        <tr>
            <td align="left">Organizer:</td>
            <td align="left">{{organizer}}</td>
        </tr>
    </table>
    <br>
    Tags:<br>
    {% for tag in tags[:-1] %}
        {{tag}}, 
    {% endfor %}
    {{tags[-1]}}
    <br><br>
    Summary:<br> 
    {{summary}}
    <br><br>
{% if(not isOrganizer) %}
</section>
{% else %}
    RSVP List:
    <br><br>
{% endif %}