<section>
    <form action="" method="POST">
        <big>{{name}}</big>
        <br><br>
        {% if(hasImage) %}
            <img src="{{ url_for('static', filename=image) }}" alt={{name}}>
            <br><br>
        {% endif %}
        {% if(isOrganizer) %}
            <input type="submit" name="remove" value="Delete Event">
            <a href="{{ url_for('editEvent', name=name) }}">
                <input type="button" value="Edit Event">
            </a>
            <br><br>
        {% endif %}
        <table class="center">
            <th colspan="2">
                Event Details:
            </th>
            <tr>
                <td align="left">Date:</td>
                <td align="left">{{date}}</td>
            </tr>
            <tr>
                <td align="left">Time:</td>
                <td align="left">{{time}} (US Central)</td>
            </tr>
            <tr>
                <td align="left">Location:</td>
                <td align="left">{{location}}</td>
            </tr>
            <tr>
                <td align="left">Organizer:</td>
                <td align="left">{{organizer}}</td>
            </tr>
        </table>
        <br>
        Tags:<br>
            {% for tag in tags[:-1] %}
                {{tag}}, 
            {% endfor %}
            {{tags[-1]}}
        <br><br>
        Summary:<br> 
        {{summary}}
        <br><br>
        {% if(loggedIn and not isOrganizer) %}
            {% if(not inEvent) %}
                <input type="submit" name="join" value="Join Event">
            {% else %}
                <input type="submit" name="leave" value="Leave Event">
            {% endif %}
        {% endif %}
    </form>
{% if(not isOrganizer) %}
</section>
{% else %}
    RSVP List:
    <br><br>
{% endif %}