<section>
    <table style="border: 1px solid black;">
        <form action="" method="post">
            <th colspan="2">Login:</th>
            <tr>
                <td align="right">Username:</td>
                <td align="left"><input type="text" name="username" required></td>
            </tr>
            <tr>
                <td align="right">Password:</td>
                <td align="left"><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="Login"></td>
                <td align="left">
                    {% if(failedLogin) %}
                        Invalid username/password.
                    {% endif %}
                </td>
            </tr>
        </form>
        <tr>
            <td colspan="2">
                No Account? <a href="{{ url_for('newAccount') }}">
                    Click here to make one!
                </a>
            </td>
        </tr>
    </table>
</section>