<div>
    <table class="center" style="border: 5px solid rgb(253, 208, 35);">
        <form action="" method="post">
            <th colspan="2">
                <big>Invite Users to {{eventName}}</big>
            </th>
            <tr>
                <td>Username:</td>
                <td align="center"><input type="text" name="username"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Send Invite"></td>
            </tr>
        </form>
    </table>
</div>
<br>
<div>
    <big>Users Invited to Event or Already RSVP:</big>
    <br><br>