input[type=text], input[type=password], input[type=submit], input[type=button], input[type=email], input[type=tel], input[type=date], input[type=time], input[type=number], input[type=checkbox], select
{
    border: 3px solid rgb(253, 208, 35);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
}
table
{
    /* text-align: center; */
    color: rgb(253, 208, 35);
    table-layout: fixed;
}
th, td
{
    color: rgb(253, 208, 35);
}
table.center
{
    margin-left: auto; 
    margin-right: auto;
}
label
{
    white-space: normal;
}
body
{
    text-align: center;
    background-color: rgb(70, 29, 124);
    color:rgb(253, 208, 35);
}
img
{
    max-width: 500px;
    max-height: 500px;
}
a.new
{
    color:rgb(253, 208, 35);   
}
a.new:hover
{
    color:rgb(196, 21, 21);   
}
/*Style buttons*/
.btn 
{
    background-color: rgb(70, 29, 124);
    border: 6px solid rgb(253, 208, 35);
    border-radius: 8px;
    color: rgb(253, 208, 35);
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
/* Switch colors on mouse-over */
.btn:hover {
    background-color: rgb(253, 208, 35);
    color:  rgb(70, 29, 124);
    font-size: 16px;
}
.cell
{
    background-color: brown;
    border: 6px solid cadetblue;
    border-radius: 8px;
    max-width: 250px;
    padding: 1%;
}
.bigName
{
    font-size: large;
    font-weight: bolder;
}