<td class="cell">
    <div>
        <label for={{name}}>
        <form action="/eventDetails/" method="GET">
            <input type="submit" class="bigName" id={{name}} name="name" value={{name}}><br>
            <table class="center">
                <tr>
                    <td align="left">
                        <label for={{name}}>
                            Date:
                        </label>
                    </td>
                    <td align="center">
                        <label for={{name}}>
                            {{date}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <label for={{name}}>
                            Time:
                        </label>
                    </td>
                    <td align="center">
                        <label for={{name}}>
                            {{time}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <label for={{name}}>
                            Location:
                        </label>
                    </td>
                    <td align="center">
                        <label for={{name}}>
                            {{location}}
                            </label>
                        </td>
                    </tr>
                </table>
                <label for={{name}}>
                Tags: 
                {% for tag in tags[:-1] %}
                    {{tag}}, 
                {% endfor %}
                {{tags[-1]}}
            </label>
        </form>
        </label>
    </div>
</td>
{% if(endRow) %}
    </tr>
    <tr>
{% endif %}