<form action="/account/" method="GET">
    <input type="submit" id={{username}} name="user" value={{username}}><br>
    <table class="center">
        <tr>
            <td align="left">
                <label for={{username}}>
                    Phone:
                </label>
            </td>
            <td align="center">
                <label for={{username}}>
                    {{phone}}
                </label>
            </td>
        </tr>
        <tr>
            <td align="left">
                <label for={{username}}>
                    Email:
                </label>
            </td>
            <td align="center">
                <label for={{username}}>
                    {{email}}
                </label>
            </td>
        </tr>
    </table>
</form><br>
