<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename=style) }}">
        <h1>
            Volunteers-R-Us
        </h1>
        <div class= "nav1">
            {% if(loggedIn) %}
                <a href="{{ url_for('account') }}">
                    <button class="btn">
                        Account
                    </button>
                </a>
            {% else %}
                <a href="{{ url_for('login') }}">
                    <button class="btn">
                        Login!
                    </button>
                </a>
            {% endif %}
        </div>
    <br>
    </head>
    <nav class="nav2">
        
        <a href="{{ url_for('index') }}">
            <button class="btn">
                Home
            </button>
        </a>
        <a href="{{ url_for('events') }}">
            <button class="btn">
                Events
            </button>
        </a>
        <a href="{{ url_for('newEvent') }}">
            <button class="btn">
                New Event
            </button>
        </a>
        <a href="{{ url_for('eventArchive') }}">
            <button class="btn">
                Archived Events
            </button>
        </a>
    </nav>
    <body>
        <br>
        